

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -110px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
	height: 130px;
}
#footer {
	background-color: #e5e5e5;
	padding: 20px 0;
	color: #666;
}


/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }
}

/* Random
-------------------------------------------*/

.loading {
	text-align: center;
	margin: 50px 0;
}

div.table {
    display: table;
}

div.cell{
   display: table-cell;
   text-align: center;
   vertical-align: middle;
}

/* Form and form validation
-------------------------------------------*/
.input-group-addon, label {
    width:200px;
    text-align:right;
}

.input-group select, .input-group input  {
    border: 1px solid #ccc;
    line-height: 1;
    padding: 6px 12px;
    border-radius: 4px;
    border-thttp://colorschemedesigner.com/#0931Lu6p9F3Iuop-left-radius: 0;
    border-bottom-left-radius: 0;
    min-width: 200px;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
#form-date {
    border-bottom: 0;
    border-radius: 0 5px 0 0;
}
#form-time {
    border-top:0;
    border-radius: 0 0 5px 0;
}

input.ng-invalid.ng-dirty {
    background-color: #FA787E;
}
 
input.ng-valid.ng-dirty {
    background-color: #78FA89;
}

input[readonly]{
    background-color: #f1f1f1;
    color: #bbb;
}

button[submit] {
    color: blue;
}
button.invalid {
    color: #444;
}

/* Play
-----------------------------------------*/
h1 {
    border-bottom: 1px solid #aaa;
}

.block {
    min-height: 200px;
    margin: 20px 0;
    padding: 40px 0;
    border: 1px solid #aaa;
    border-radius: 10px;
}

.block.pick-teams{
    padding:15px;
}

.teambox {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 5px;
    float:left;
    width: 130px;
    height: 100px;
    display: inline-block;
    vertical-align: middle;
    text-align:center;
    font-size: small;
    color: #666;
    font-weight: bold;
}
.teambox p{
    padding: 0; margin: 0;
}
.teamlist  .picked {
    background-color: #ddd;
}
















