<div style="max-width: 600px;">
	<p>You know what a <a href="https://en.wikipedia.org/wiki/Sweepstakes">Sweeps</a> is. This app has the basic workings for running a sweep, although it probably misses the most important part, the collecting and distribution of money.</p>
	<p>It's a javascript app, built with <a href="https://angularjs.org/">AngularJS</a> framework, with help from <a href="http://getbootstrap.com/">Bootstrap</a> and <a href="http://html5boilerplate.com/">HTML5 Boilerplate</a>. The backend is a MySQL database, and there is some PHP and SQL to glue the thing together.</p>
	<p>This is version 1 of the app and I've only implemented the the bare bones required to get a sweep working. I'm not sure I'd even use it myself at the moment. Nevertheless, it was a fun experiment for me and it's here to play around with.</p>
	<p>Code available from <a href="https://github.com/treerock/sweep">Github</a>.</p>
</div>