<h2>World Cup Sweep <small>{{data.view}}</small></h2>
<h3>The Players</h3>
<table class="table">
    <tr>
        <th>Competition</th>
        <th>Team</th>
        <th>Player</th>
    </tr>
    <tr ng-repeat="user in data.userGroups">
        <td>{{user.competition}}</td>
        <td>{{user.group_name}}</td>
        <td>{{user.nickname}}</td>
    </tr>
</table>

<h3>The Teams</h3>
<table class="table">
    <tr>
        <th>Competition</th>
        <th>Team</th>
        <th>Odds</th>
        <th>Status</th>
    </tr>
    <tr ng-repeat="team in data.teams">
        <td>{{team.competition}}</td>
        <td>{{team.name}}</td>
        <td>{{team.odds}}</td>
        <td>{{team.status}}</td>
    </tr>
</table>