<div ng-show="data.user_message" class="alert alert-warning">
	<p>{{data.user_message}}</p>
</div>
<div ng-show="data.loaded">
	<h2>{{competition.name}} <small>{{data.view}}</small></h2>
	<div class="row">
		<div class="col col-sm-7">
			<h3>Sweep Teams playing <em>{{competition.name}}</em></h3>
			<table class="table">
				<tr>
					<th>Group Id</th>
					<th>Name</th>
					<th>Competition</th>
					<th></th>
					<th></th>
				</tr>
				<tr ng-repeat="group in groups">
					<td>{{group.group_id}}</td>
					<td>{{group.group_name}}</td>
					<td>{{group.comp_id}}</td>
<!-- 					<td><a href="#/register/{{competition.id}}/{{group.group_id}}">Register</a></td> -->
					<td><a href="#/play/{{competition.id}}/{{group.group_id}}">Play</a></td>
				</tr>
			</table>
		</div>
		<div class="col col-sm-3">
			<h3>Add New Group</h3>
			<form role="form" name="add" class="form" ng-submit="addGroup(add)">
				<div class="form-group">
					<input type="text" class="form-control" ng-model="form.group_name" required placeholder="Enter Name for Group" />
				</div>
				<button type="submit" class="btn btn-default">Add Group</button>
			</form>
			<p class="alert alert-info" style="margin-top:20px" ng-show="data.response">{{data.response}}</p>
		</div>
	</div>
</div>

<div ng-show="data.loading" class="loading">
	<div class="row">
		<div class="col col-sm-7">
			<img src="css/select2-spinner.gif" />
		</div>
		<div class="col col-sm-3">
			<img src="css/select2-spinner.gif" />
		</div>
	</div>
</div>
