<div ng-show="data.user_message" class="alert alert-warning">
    <p>{{data.user_message}}</p>
</div>
<div class="row">
    <div class="col col-sm-5" ng-hide="data.loading">
        <h2><em>{{group.group_name}}</em> Sweep</h2>
        <p>This is the {{competition.name}} sweep for {{group.group_name}}.  To play, enter your name and click the button to pick teams.</p>
        <div class="block">   		
            <form name="pick_form" class="form-horizontal" role="form" ng-submit="pickTeams(pick_form)">
                <div class="form-group">
    				<label class="col col-sm-4 control-label" for="username">Name</label>
    				<div class="col-sm-6">
    					<input name="username" id="username" type="text" class="form-control" ng-model="data.pick_name" required placeholder="Enter Name" />
    				</div>
                </div>
    			<div class="col-sm-offset-4 col-sm-8">
                	<button type="submit" class="btn btn-default" ng-disabled="data.complete">Pick Random Team</button>
    			</div>
            </form>
            <div ng-show="data.you_picked">
                <p>Your teams have been selected...</p>
                <ul>
                    <li ng-repeat="team in data.p_teams"><strong style="text-transform: captalize">{{team.pick_name}}</strong> picked <em>{{team.team_name}}</em></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col col-sm-5" ng-show="data.loading">
		<div style="text-align:center; line-height: 200px;"><img src="css/select2-spinner.gif" /></div>
	</div>
    <div class="col col-sm-6 col-sm-offset-1" ng-hide="data.loading">
		<h2>The Teams</h2>
        <div class="teamlist">
            <div ng-repeat="team in data.teams" class="teambox table" ng-class="{picked: team.pick_name}">
                <div class="cell">
                    <p class="team-name">{{team.team_name}}</p>
                    <p class="pick-name" ng-show="team.pick_name">Picked by <em>{{team.pick_name}}</em></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-sm-6" ng-show="data.loading">
        <div style="text-align:center; line-height: 200px;"><img src="css/select2-spinner.gif" /></div>
    </div>
</div>

