<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" ng-app="myApp"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
            /* 
              Allow angular.js to be loaded in body, hiding cloaked elements until 
              templates compile.  The !important is important given that there may be 
              other selectors that are more specific or come later and might alter display.  
             */
            [ng\:cloak], [ng-cloak], .ng-cloak {
              display: none !important;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <link href="css/select2.css" rel="stylesheet">
    </head>
    <body ng-controller="MainCtrl" ng-cloak>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
    <div class="navbar navbar-fixed-top ng-cloak" >
    <div class="container">
      <div class="navbar-header " >
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" >Sweep</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="#/play/{{comp}}/{{group}}" class="active">Play</a></li>
        </ul>    
        <p class="navbar-text navbar-right"> | <a href="#/edit/{{comp}}">Groups</a></p>
        <p class="navbar-text navbar-right" ng-hide="user.loggedin"><a href="#/register/{{comp}}">Register to Play</a></p>
        <div ng-hide="user.loggedin">
          <form class="navbar-form navbar-right" ng-submit="login(form.email)">
            <div class="form-group">
              <input type="email" placeholder="Enter Email Address" class="form-control" ng-model="form.email">
            </div>
            <button type="submit" class="btn">Sign in</button>
          </form>
        </div>
        <p ng-show="user.loggedin" class="navbar-text navbar-right">Logged in as <strong>{{user.username}}</strong> <a href="" ng-click="logout()">Logout</a></p>
      </div><!--/.navbar-collapse -->
    </div>
  </div>

    <div class="container">
	  <h1>Sweep</h1>
      <div class="ng-view"></div>
      <footer>
        <p>&copy; Company 2013</p>
		<p>Message: {{user_message}}</p>
		<p>User: {{user}}</p>
      </footer>
    </div> <!-- /container -->  

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js">
    </script>
    -->
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-route.js"></script>
    <script src="lib/angular/angular-cookies.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/select2.js"></script>
  </body>
</html>
